/* Prism Night Owl Theme */
code[class*="language-"],
pre[class*="language-"] {
  color: #d6deeb;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 0.875rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.5rem;
  background: #011627;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
  background: #011627;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #637777;
  font-style: italic;
}

.token.punctuation {
  color: #c792ea;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f78c6c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #addb67;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #7fdbca;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #c792ea;
}

.token.function,
.token.class-name {
  color: #82aaff;
}

.token.regex,
.token.important,
.token.variable {
  color: #d6deeb;
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: #4a5568;
  content: attr(line);
}
